.designer {
	cursor: pointer;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
	z-index: 999999;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}

.designer.active {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.designer .design-menu {
	background: #333;
	width: 100%;
	height: 45px;
	bottom: 0px;
	position: fixed;
	display: none;
	z-index: -1;
}

.designer i {
	z-index: 1;
	margin: 9px;
	width: 25px;
}

.designer #editor {
	position: fixed;
	width: 100%;
	height: 250px;
	bottom: 45px;
	left: 0px;
	z-index: -1;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.designer #editor {
	display: none;
}

.designer .fa-save, .designer .fa-code {
	display: none;
}


.designer.active .design-menu {
	display: block;
}

.designer.active i {
	display: inline-block;
	color: #ddd;
}
.designer.active #editor {
	display: block;
}